
<!-- @@if (!page_main){ -->
<header class="header _sub" id="header">
<!-- }endif -->
 <!-- @@if (page_main){ -->
<header class="header" id="header">
<!-- }endif -->
    <div class="header--container">
        <div class="container-xxl header--wrap">
            <h1 class="brand"><a href="/" title="홈 바로가기"><span class="sr-only">올포랜드</span></a></h1>
            <nav>
                <ul id="gnb" class="gnb">
                    <li class="gnb--li1">
                        <a href="01-01-ceo.html" class="menuitem"><span>회사소개</span></a>
                        <div class="depth">
                            <ul>
                                @@include('./menulist.html',{
                                    "menuTitle" :"회사소개"
                                })
                            </ul>
                        </div>
                    </li>
                    <li class="gnb--li1">
                        <a href="02-01-kukto.html" class="menuitem"><span>사업분야</span></a>
                        <div class="depth">
                            <ul>
                                @@include('./menulist.html',{
                                    "menuTitle" :"사업분야"
                                })
                            </ul>
                        </div>
                    </li>
                    <li class="gnb--li1">
                        <a href="03-01-solution.html" class="menuitem"><span>솔루션</span></a>
                        <div class="depth">
                            <ul>
                                @@include('./menulist.html',{
                                    "menuTitle" :"솔루션"
                                })
                            </ul>
                        </div>
                    </li>
                    <li class="gnb--li1">
                        <a href="04-01-esg.html" class="menuitem"><span>ESG</span></a>
                        <div class="depth">
                            <ul>
                                @@include('./menulist.html',{
                                    "menuTitle" :"ESG"
                                })
                            </ul>
                        </div>
                    </li>
                    <li class="gnb--li1">
                        <a href="05-01-press.html" class="menuitem"><span>게시판</span></a>
                        <div class="depth">
                            <ul>
                                @@include('./menulist.html',{
                                    "menuTitle" :"게시판"
                                })
                            </ul>
                        </div>
                    </li>
                    <li class="gnb--li1">
                        <a href="06-01-personnel.html" class="menuitem"><span>인재채용</span></a>
                        <div class="depth">
                            <ul>
                                @@include('./menulist.html',{
                                    "menuTitle" :"인재채용"
                                })
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="util">
                <div class="special-links"><a href="#" role="button"><span>Alliance</span><i></i></a></div>
                <div class="lang">
                    <a href="/"><i></i><span>KR</span></a>
                </div>
                <button type="button" class="mobile-button" id="btnMobile" title="메뉴 열림">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
            </div>
        </div>
    </div>

    <!-- @@if (!page_main){ -->
    <!-- s: breadcrumb -->
    <div id="breadcrumb" class="breadcrumb">
        <div class="breadcrumb--container">
            <div class="fx">
                <a href="./index.html" title="홈 바로가기"><span class="sr-only">Home</span></a>
            </div>
            <div class="breadcrumb--menu_drop">
                <button type="button" class="trigger">
                    <span>@@page_title</span>
                </button>
                <ul class="first-list"></ul>
            </div>
            <div class="breadcrumb--sub_list">
                <button type="button"><span>@@title</span></button>
                <ul data-page-title="@@title">
                    @@include('./menulist.html',{
                        "menuTitle" : "@@page_title"
                    })
                </ul>
            </div>
        </div>
    </div>
    <!-- e: breadcrumb -->
    <!-- }endif -->
</header>
<div class="black-dimmed"></div>
<!-- @@if (!page_main){ -->

<!-- }endif -->