@import '../utils/var';
@import '../utils/function';


.press ._board{
    .press__latest{
        padding: 8rem 10rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 4;
        .thumb{
            width: 50%;
            a{
                display: block;
                overflow: hidden;
                position: relative;
                padding-bottom: 55.25%;
                border-radius: 1.5rem;
                img{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .info{
            width: 50%;
            padding-left: 5.5rem;
            .subject{
                a{
                    color: #fff;
                    font-weight: 700;
                    line-height: 1.5;
                    font-size: 4rem;
                }
            }
            .desc{
                font-size: 1.7rem;
                line-height: 1.4;
                margin: 2rem 0;
                a{
                    color: #fff;
                }
            }
            .date{
                color: #fff;
                font-size: 1.5rem;
            }
            .link{
                a{
                    display: inline-flex;
                    background-color: #fff;
                    align-items: center;
                    justify-content: space-between;
                    color: #0a529d;
                    font-size: 1.9rem;
                    gap: 0 1.4rem;
                    padding: 2rem 4rem;
                    border-radius: 3rem;
                    margin-top: 2.5rem;
                    i{
                        display: inline-block;
                        vertical-align: top;
                        width: 1.4rem;
                        height: 1.4rem;
                        @include set-background('../images/board/icon-links.png');
                    }
                }
            }
        }
    }
    &::after{
        z-index: 3;
        background-color: #0a529d !important;
        opacity: 0.7 !important;
    }
    .back--img{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        max-width: 1440px;
        max-height: 100%;
        left: 50%;
        top: 50%;
        transform: scale(1.44,1.44) translate(-50%,-50%);
        img{
            width: 100%;
            height: 100%;
            filter: blur(5px);
        }
    }
}

.board{
    &--paging{
        padding-top: 16rem;
        @include responsive(xl){
            padding-top: 12rem;
        }
        @include responsive(lg){
            padding-top: 10rem;
        }
        @include responsive(md){
            padding-top: 7rem;
        }
    }
    &--search{
        background-color: #f8f8f8;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        margin-bottom: 6rem;
        @include responsive(lg){
            margin-bottom: 4rem;
        }
        form{
            width: 100%;
        }
        &__wrap{
            width: 68rem;
            position: relative;
            display: flex;
            align-items: center;
            margin: 0 auto;
            label{
                font-size: 1.9rem;
                color: #2d2d2d;
                width: 7rem;
            }
            input[type="text"]{
                display: block;
                border-radius: 0.5rem;
                border: 1px solid #8e8e8e;
                width: calc(100% - 7rem);
                height: 6rem;
                padding-left: 2rem;
                padding-right: 6rem;
            }
            button{
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    width: 2.6rem;
                    height: 2.6rem;
                    @include set-background('../images/board/icon-search.png');
                }
            }
            @include responsive(lg){
                //width: min(100%, 80rem);w
                width: min(100% , 80vw);
                label{
                    font-size: 1.3rem;
                    width: 5rem;
                }
                input[type="text"]{
                    width: calc(100% - 5rem);
                    height: 4.2rem;
                    font-size: 1.4rem;
                    padding-right: 4rem;
                }
                button{
                    width: 4rem;
                    i{
                        width: 2rem;
                        height: 2rem;
                        background-size: 100% auto;
                    }
                }
            }
        }
    }
    &--total{
        font-weight: 700;
        color: #2d2d2d;
        font-size: 2.1rem;
        margin-bottom: 2.5rem;
        b{
            color: #0a529d;
        }
        @include responsive(xl){
            margin-bottom: 2rem;
            font-size: 1.8rem;
        }
        @include responsive(lg){
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
        }
        @include responsive(md){
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
    }
    &--gall{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6rem 3rem;
        @include responsive(xl){
            gap: 4rem 2.5rem;
        }
        @include responsive(lg){
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem 2rem;
        }
        @include responsive(sm){
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
        }
        &__item{
            > a{
                display: block;
            }
        }
        &__thumb{
            overflow: hidden;
            border-radius: 1.5rem;
            background-color: #f0f0f0;
            position: relative;
            padding-bottom: 56.25%;
            @include set-background('../images/board/noimage.png','auto',50% 50%);
            img{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                display: block;
            }
        }
        &__info{
            padding-top: 2.7rem;
            @include responsive(lg){
                padding-top: 2rem;
            }
        }
        &__title{
            font-weight: 700;
            color: #2d2d2d;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.5; // 각 줄의 높이 설정
            height: 7.8rem;
            font-size: 2.5rem;
            @include responsive(xl){
                font-size: 2rem;
                height: 6rem;
            }
            @include responsive(lg){
                font-size: clamp(1.2rem,2.5vw,1.8rem);
                height: 4rem;
            }
        }
        &__desc{
            color: #2d2d2d;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.5; // 각 줄의 높이 설정
            height: 5.7rem;
            font-size: 1.9rem;
            margin-top: 2rem;
            @include responsive(xl){
                font-size: 1.5rem;
                margin-top: 1.5rem;
                height: 5.5rem;
            }
            @include responsive(lg){
                font-size: 1.3rem;
                margin-top: 1.2rem;
                height: 3.5rem;
            }
        }
        &__date{
            margin-top: 1.5rem;
            color: #555555;
            font-size: 1.5rem;
            @include responsive(xl){
                font-size: 1.2rem;
                margin-top: 1.2rem;
            }
            @include responsive(lg){
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
    }
    &--tabs{
        margin-bottom: 6rem;
        @include responsive(xl){
            margin-bottom: 5rem;
        }
        @include responsive(lg){
            margin-bottom: 4rem;
        }
        @include responsive(md){
            margin-bottom: 3rem;
        }
    }
}


.board--view{
    @include set-background('../images/board/bg-view-top.png' , auto , right top);
    &__top{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 30rem;
        padding: 6.5rem 0 6rem;
        text-align: center;
        border-bottom: 2px solid #000;
        @include responsive(xl){
            height: 25rem;
            padding: 5rem 0 4rem;
        }
        @include responsive(lg){
            border-bottom-width: 1px;
            height: 20rem;
            padding: 4rem 0 3rem;
        }
        @include responsive(md){
            height: 14rem;
            padding: 3rem 0 2.5rem;
        }
    }
    &__title{
        font-weight: 700;
        color: #000;        
        line-height: 1.2;
        font-size: 4.8rem;
        @include responsive(xl){
            font-size: clamp(1.7rem, 3.33vw, 4rem);
        }
    }
    &__date{
        color: #717171;
        font-size: 1.7rem;
        @include responsive(xl){
            font-size: clamp(1.2rem, 1.4vw, 1.5rem);
        }
    }
    &__content{
        color: #555555;
        line-height: 1.7;
        padding: 10rem 0;
        p{
            font-size: 1.9rem;
            @include responsive(xl){
                font-size: clamp(1.4rem, 1.7vw, 1.7rem);
            }
            @include responsive(lg){
                font-size: clamp(1.2rem, 1.7vw, 1.5rem);
            }
        }
        @include responsive(xl){
            padding: 8rem 0;
        }
        @include responsive(lg){
            padding: 7rem 0;
        }
        @include responsive(md){
            padding: 5rem 0;
        }
    }
    &__files{
        border: 1px solid #c6c6c6;
        border-radius: 0.5rem;
        padding: 2rem 3rem;
        &__list{
            + * {
                margin-top: 0.5rem;
            }
            a{
                display: inline-flex;
                align-items: center;
                gap: 0 .5rem;
                max-width: 100%;
                span{
                    color: #555;
                }
            }
        }
        @include responsive(xl){
            padding: 1.5rem 2rem;
            a{
                font-size: 1.3rem;
            }
        }
        @include responsive(lg){
            padding: 1.2rem 1.5rem;
            a{
                font-size: 1.2rem;
            }
        }
    }
    &__navigation{
        margin-top: 10rem;
        @include responsive(xl){
            margin-top: 8rem;
        }
        @include responsive(lg){
            margin-top: 6rem;
        }
        @include responsive(md){
            margin-top: 5rem;
        }
        .item{
            display: block;
            border-top: 1px solid #ddd;
            &:last-child{
                border-bottom: 1px solid #ddd;
            }
            a{
                display: grid;
                align-items: center;
                grid-template-columns: 20rem auto 20rem;
                height: 100%;
                width: 100%;
                border-radius: 0.5rem;
                padding: 4rem 0;
                @include responsive(xl){
                    padding: 3rem 0;
                    grid-template-columns: 15rem auto 15rem;
                }
                @include responsive(lg){
                    grid-template-columns: 10rem auto 10rem;
                }
                @include responsive(md){
                    grid-template-columns: 5rem auto 7rem;
                }
                .cate{
                    text-align: center;
                    color: #555555;
                    font-size: 1.5rem;
                    @include responsive(xl){
                        font-size: 1.3rem;
                    }
                    @include responsive(md){
                        font-size: 1.2rem;
                    }
                }
                .subject{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #2d2d2d;
                    font-size: 2.5rem;
                    @include responsive(xl){
                        font-size: 2rem;
                    }
                    @include responsive(lg){
                        font-size: 1.8rem;
                    }
                    @include responsive(md){
                        font-size: 1.4rem;
                    }
                }
                .date{
                    text-align: center;
                    color: #555555;
                    font-size: 1.5rem;
                    @include responsive(xl){
                        font-size: 1.3rem;
                    }
                    @include responsive(md){
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    &__back{
        display: flex;
        justify-content: center;
        padding-top: 6rem;
        @include responsive(xl){
            padding-top: 5rem;
        }
        @include responsive(lg){
            padding-top: 4rem;
        }
        @include responsive(md){
            padding-top: 3rem;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10.5rem;
            height: 6rem;
            border-radius: 0.5rem;
            background-color: #0a529d;
            color: #fff;
            font-size: 1.9rem;
            @include responsive(xl){
                height: 5rem;
                font-size: 1.7rem;
            }
            @include responsive(lg){
                height: 4.5rem;
                font-size: 1.5rem;
                max-width: calc(100% - 10vw);
            }
            @include responsive(md){
                font-size: 1.3rem;
            }
        }
    }
    &:not(&:has(.board--view__files)){
        .board--view__navigation{
            margin-top: 0;
        }
    }
}

.promotion{
    .intro--banner_bg._board{
        display: none;
    }
    &__visual{
        &--player{
            position: relative;
            padding-bottom: 43%;
            background: #000;
            overflow: hidden;
            border-radius: 2rem;
            .thumb{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                height: 100%;
                z-index: 1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-button{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 25rem;
                height: 25rem;
                z-index: 3;
                @include set-background('../images/board/icon-play.png');
            }
            &::after{
                content:"";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: linear-gradient(to top, 
                                        rgba(0, 0, 0, 1) 0%, 
                                        rgba(0, 0, 0, 0.9) 6.25%, 
                                        rgba(0, 0, 0, 0.6) 30%, 
                                        rgba(0, 0, 0, 0.1) 100%);
            }
            .desc{
                position: absolute;
                z-index: 3;
                bottom: 6.25%;
                left: 0;
                right: 0;
                text-align: center;
                .titles{
                    color: #fff;
                    font-weight: 700;
                    font-size: 4rem;
                }
                .date{
                    color: #fff;
                    font-size: 1.7rem;
                    margin-top: 2.4rem;
                }
            }
            iframe{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}