@import '../utils/var';
@import '../utils/function';

$icons: (
    del: (1.4rem, 1.4rem),
    close: (1.4rem, 1.4rem),
    window: (1.4rem, 1.4rem),
    download: (1.9rem, 1.9rem)
);

@mixin icon($url, $width, $height) {
    display: inline-block;
    vertical-align: middle;
    background-image: url($url);
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.icon{
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0 0;
    @each $name, $dimensions in $icons {
        $width: nth($dimensions, 1);
        $height: nth($dimensions, 2);
        &-#{$name}{
            &._white {
                @include icon("../images/icon/icon-#{$name}-white.png", $width, $height);
            }
        }
    }
    
}
