@import '../utils/var';
@import '../utils/function';


.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    a,strong,span{
        transition: all 0.25s;
    }
    .adri{
        display: flex;
        align-items: center;
        height: 4rem;
        color: #555555;
        @include responsive(md){
            height: 3rem;
        }
    }
    a,
    strong{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 400;
        height: 4rem;
        width: 4rem;
        @include responsive(md){
            height: 3rem;
            width: 3rem;
        }
    }
    .paging{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 1rem;
        margin: 0 3rem;
        @include responsive(lg){
            margin: 0 1.5rem;
        }
        a,
        strong{
            border-radius: 0.5rem;
            font-size: 1.7rem;
            @include responsive(lg){
                font-size: 1.4rem;
            }
            @include responsive(md){
                font-size: 1.2rem;
            }
            &:hover,
            &:focus{
                background-color: #f8f8f8;
                color: #717171;
            }
        }
        strong{
            color: #fff;
            background-color: #0a529d;
            font-weight: 700;
        }
    }
    .fir,
    .prev,
    .next,
    .last{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        @include responsive(lg){
            width: 4rem;
        }
        span{
            white-space: nowrap;
            color: #555555;
            font-size: 1.5rem;
            @include responsive(lg){
                font-size: 1.3rem;
            }
            @include responsive(md){
                font-size: 1.1rem;
            }
        }
        &:hover,
        &:focus{
            color: #007ab4;
            span{
                color: #007ab4;
            }
        }
    }
}