/*
    table
*/

.table{
    border-bottom: 1px solid #555555;
    table{
        width: 100%;
        border-collapse: collapse;
        border: 0;
    }
    th,
    td{
        padding: 3rem;
        border: 1px solid #d8d8d8;
        text-align: left;
        vertical-align: middle;
        font-size: 1.9rem;
        &:first-child{
            border-left: none;
        }
        &:last-child{
            border-right: none;
        }
    }
    .tac{
        text-align: center;
    }
    thead{
        border-top: 2px solid #555555;
        th{
            background-color: #f0f0f0;
            text-align: center;
        }
    }
    tbody{
        td{
            background-color: #fff;
        }
    }
}