
.tabs{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    overflow: hidden;
    border: 1px solid #c6c6c6;
    border-radius: 1rem;
    > div{
        border-left: 1px solid #ddd;
        &:has(a[aria-selected="true"]){
            border-color: #0a529d;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 2.1rem;
            width: 100%;
            height: 6rem;
            gap: 0 .4rem;
            &[aria-selected="true"]{
                color: #fff;
                background-color: #0a529d;
            }
            small{
                font-size: 0.8095em;
            }
        }
    }
}