// @use "sass:math";
// @use "sass:map";
// @import "./utils/index";

body,
html{
    width: 100%;
    height: 100%;
}
.preview{
    width: 100%;
    height: 100%;
    display: flex;
    &-aside{
        width: 250px;
        height: 100vh;
        border-right: 1px solid #000;
        background-color: #fff;
    }
    &-device-type{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 10px;
        height: 50px;
        border-bottom: 1px solid #000;
        button{
            display: block;
            padding: 4px 8px;
            border-radius: 5px;
            border: 1px solid #000;
            font-size: 1.25rem;
            &.active{
                background-color: #000;
                color: #fff;
                border-color: #000;
            }
        }
    }
}

.preview-screen{
    position: relative;
    width: calc(100% - 250px);
    margin: 0;
    height: 100%;
    padding: 2rem;
    margin: 0 auto;
    &.Mobile{
        max-width:360px;
    }
    &.Tablet{
        max-width:768px;
    }
    iframe{
        display: block;
        width: 100%;
        height: 100%;
    }
}

.menu--list{
    
    .item{
        display: grid;
        font-size: 1.3rem;
        padding: 7px;
        border-bottom: 1px solid #eee;
        +.item{
            border-top: 1px solid #888;
        }
    }
    span{
        display: block;
    }
    .name{font-weight: 700;color: #000;font-size: 1.4rem;}
    .link{
        text-decoration: underline;
        color: rgb(96, 96, 223);
    }
    .date{font-size: 1.2rem;}
}

/*
    가이드 페이지
*/
.guide{
    width: 100%;
    height: 100%;
    &--header{
        position: fixed;
        left: 240px;
        width: calc(100% - 240px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        border-bottom: 1px solid #eee;
        .ver{
            font-size: 1.4rem;
        }
    }
    &--side{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        border-right: 1px solid #eee;
        background-color: #fff;
        width: 240px;
        h2{
            font-size: 2.4rem;
            margin: 90px 0 12px 29px;
            font-family: 'Ubuntu Sans Mono';
        }
        ul{
            margin-top: 30px;
            li>a{
                display: block;
                font-family: 'Ubuntu Sans Mono';
                font-size: 1.6rem;
                padding: 12px 16px 12px 29px;
                color: #888;
                font-weight: 600;
                transition: all 0.1s ease-in-out;
                border-left: 0;
                &.active,
                &:hover,
                &:focus{
                    border-left: 5px solid #007ab5;
                    color: #007ab5;
                }
            }
        }
    }
    &--container{
        position: relative;
        left: 240px;
        top: 55px;
        max-width: calc(100% - 240px);
        background-color: #fff;
    }
    &--section{
        width: 80%;
        margin: 0 auto;
        clear: both;
        padding: 50px 0;
        border-bottom: 1px solid #eee;
        > h3{
            font-size: 2rem;
            margin-bottom: 40px;
        }
    }
    &--footer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eee;
        height: 160px;
        h2{
            font-size: 40px;
            text-align: center;
            color: #007ab5;
        }
        .copy{
            text-emphasis: center;
            font-size: 15px;
            color: #999;
            font-weight: 600;
            margin-top: 15px;
        }
    }
    &--called{
        
    }
}