@import '../utils/var';
@import '../utils/function';


.alliance{

    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: none;
    
    align-items: center;
    justify-content: center;
    &--container{
        background-color: #fff;
        overflow: hidden;
        border-radius: 2rem;
        padding: 6rem;
    }
    &--inner{
        
    }

    &--title{
        position: relative;
        margin-bottom: 6rem;
        h2{
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                font-weight: 500;
                font-size: 3.6rem;
                background: linear-gradient(to right, #177cb5, #60a17e);
                -webkit-background-clip: text;
                color: transparent;
                b{
                    font-weight: 700;
                    font-size: 1em;
                    background: linear-gradient(to right, #68a574, #92ba54);
                    -webkit-background-clip: text;
                    color: transparent;

                }
            }
        }
        .alliance--close{
            position: absolute;
            right: 0;
            top: 0;
            span{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #000000;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                &::before,
                &::after{
                    content:"";
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 1.4rem;
                    background-color: #fff;
                }
                &::before{
                    transform: rotate(45deg);
                }
                &::after{
                    transform: rotate(-45deg);
                }
            }
        }
    }
    &--content{
        display: flex;
        align-items: center;
        gap: 0 15px;
        .link{
            width: 26rem;
            height: 41rem;
            a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                overflow: hidden;
                border-radius: 1.5rem;
                height: 100%;
                width: 100%;
                padding: 6rem 4rem 4rem 4rem;
                background-color: #f3f3f3;
                transition: background-color 0.5s;
                
                .alliance--subject{
                    &:has(small){
                        small{
                            display: block;
                            font-weight: 700;
                            color: #000000;
                            font-size: 1.8rem;
                        }
                        h3{
                            font-size: 3.6rem;
                        }
                    }
                    
                    h3{
                        font-weight: 700;
                        font-size: 3.2rem;
                    }
                    p{
                        color: #9e9e9e;
                        margin-top: 1.4rem;
                        font-size: 1.1rem;
                    }
                }
                .btn--shape{
                    width: 6.5rem;
                    height: 6.5rem;
                    background-color: #fff;
                    border-radius: 50%;
                    span{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        &::before,
                        &::after{
                            content:"";
                            width: 14px;
                            height: 2px;
                            background-color: #9f9f9f;
                        }
                        &::before{
                            transform: translate(0, 0px);
                        }
                        &::after{
                            transform: rotate(90deg) translate(-2px, 0);
                            //margin-top: -7px;
                        }
                    }
                }
                
                
                &:hover,
                &:focus{
                    background-color: #0a5298;
                    .alliance--subject{
                        h3{
                            color: #fff;
                        }
                        small{
                            color: #fff;
                        }
                        p{
                            opacity: 0.3;
                        }
                    }
                    .btn--shape{
                        background-color: #003468;
                        span{
                            &::before,
                            &::after{
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
        
    }
}