@import '../utils/var';
@import '../utils/function';


.sticky-breadcrumb{
    will-change: auto;
}

body:has(header.hide){
    .breadcrumb{
       
    }
}
body:has(header.up){
    .breadcrumb{
    
    }
}
.breadcrumb{
    transition: all 0.5s;
    position: absolute;
    top: var(--header);
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #f1f6f9;
    @include responsive(xxl) {
        top: var(--lg-header)
    }
    &--container{
        width: 100%;
        height: 6rem;
        background-color: #f1f6f9;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        @include responsive(lg) {
            height: 4.5rem;
        }
    }
    .fx{
        margin-right: 2.5rem;
        a{
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            background: url("../images/common/sub-home.png") no-repeat;
        }
        @include responsive(lg) {
            display: none;
        }
    }
    &--menu_drop{
        position: relative;
        height: 100%;
        @include responsive(lg) {
            width: 50%;
        }
        .trigger{
            position: relative;
            padding-right: 5rem;
            height: 100%;
            span{
                color: #0a529d;
                font-size: 1.8rem;
                
            }
            &::after{
                content:"";
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%) rotate(0deg);
                background: url("../images/common/breadcrumb-arw.png");
                width: 8px;height: 5px;
            }
            @include responsive(lg) {
                padding-right: 2.5rem;
                padding-left: 2.5rem;
                span{
                    font-size: 1.2rem;
                }
            }
        }
        .first-list{
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            right: 0;
        }
        
    }
    &--sub_list{
        margin-left: 3.5rem;
        padding-left: 5rem;
        border-left: 0;
        height: 100%;
        button{
            display: none;
            
        }
        @include responsive(lg) {
            margin-left: 0;
            padding-left: 0;
            position: relative;
            width: 50%;
            button{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
            }
        }
        ul{
            display: flex;
            align-items: center;
            height: 100%;
            gap: 0 5rem;
            li{
                a{
                    color: #999;
                }
                &._current{
                    a{
                        color: #127ab7;
                    }
                }
            }
            @include responsive(lg) {
                position: absolute;
                display: none;
                top: 100%;
                left: 0;
                right: 0;
                li._current{
                    display: none;
                }
            }
        }
    }
}