
%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

@mixin responsive($breakpoint) {
    @media (max-width: map-get($grid-breakpoints,$breakpoint)) {
        @content;
    }
}

@mixin responsive2($breakpoint) {
    @media (min-width: map-get($grid-breakpoints,$breakpoint)) {
        @content;
    }
}
@mixin sizes($width, $height) {
    $width-value: if(unitless($width), $width * 1px, $width);
    $height-value: if(unitless($height), $height * 1px, $height);
    
    width: calc(#{$width-value} / 2);
    height: calc(#{$height-value} / 2);
}
@mixin responsive-gap($breakpoint) {
    @if map-has-key($gap, $breakpoint) {
      padding-left: map-get($gap, $breakpoint);
      padding-right: map-get($gap, $breakpoint);
    }
}
@mixin set-background($image-url, $size: auto, $position: 0 0, $repeat: no-repeat) {
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
    background-image: url(#{$image-url});
  }
  